<%= form_for(@source, :html => { :class => "well" }) do |f| %>
    <fieldset>

      <legend>Content</legend>

      <%= render 'fields', :f => f %>

      <div class="form-actions">
        <%= f.submit "Add", :class => "btn btn-primary" %>
      </div>

    </fieldset>
<% end %>
