<div style="padding: 5px;">
    <%= link_to "Add content", new_source_path, :class => "btn btn-primary" %>
</div>

<% unless @user.sources.empty? %>

    <%= render @sources %>

<% end %>

<div>
    <%= link_to "Add content", new_source_path, :class => "btn btn-primary" %>
</div>