<div class="margin10">

  <div>Your source types</div>

  <% unless @user.source_types.empty? %>
      <table class="source_types" summary="User's source types">
        <%= render @source_types %>
      </table>
  <% end %>

  <br>

  <%= form_for(@source_type) do |f| %>
      <%= render 'fields', :f => f %>
      <div class="actions">
        <%= f.submit "Add" %>
      </div>
  <% end %>

</div>

