<% if @routines.count > 0 %>

  <div class="well">
    <h4>Such works might be added from routines</h4>
    <table class="table table-striped">
      <!--<thead>
      <tr>
        <th width="5%">From</th>
        <th width="5%">To</th>
        <th width="25%">Description</th>
        <th width="10%">Category</th>
        <th></th>
      </tr>
      </thead>-->
      <%= render 'works/routine' %>
    </table>
  </div>
<% end %>