<% if @routines.count > 0 %>

  <div class="well">
    <h4>Such works might be added from routines</h4>
    <table class="table table-striped">

      <%= render 'works/routine' %>

    </table>
  </div>
<% end %>