<script type="text/javascript">
    $(document).ready(function () {

        $("#work_category_ids").change(function () {
            selected = $("#work_category_ids :selected");
            // add hidden fields with selected value and label with category name
            category_span = $(
                    '<span class="selected_category label">' + selected.text() + '<img src="/images/del.png"/>' +
                            '<input type="hidden" name="work[category_ids][]" value="'+ selected.val() +'"></span>'
            );
            $(this).before(category_span);

            // disable selected item  and select first element
            selected.attr("disabled","disabled");
            // change text for first element
            if( $("option",this).size() > 1 ) {
                $(":first", this).text("--One more category--");
            } else {
                $(":first", this).text("--No categories--");
            }
            $(":first", this).attr("selected", "selected");


            // add event listener for created element
            category_span.click( function () {
                // enable disabled elementelement in select
                //// get category id and name
                category_id = $("input", $(this)).attr("value");
                //// enable element to select
                $("#work_category_ids option[value='"+category_id+"']").removeAttr("disabled");
                // delete label
                $(this).remove();
            });
        });
    });
</script>
