<% unless @works.empty? %>
    <table class="table table-striped">
      <thead>
      <tr>
        <th width="5%">From</th>
        <th width="5%">To</th>
        <th width="8%">Duration</th>
        <th width="42%">Description</th>
        <th width="12%">Category</th>
        <th width="5%"></th>
        <th width="5%"></th>
        <th width="8%"></th>
      </tr>
      </thead>
      <%= render @works %>
    </table>
<% end %>

<script type="text/javascript">
    $(document).ready( buildTimeline() );

    function buildTimeline () {
        // get first work line
        $("tr.activity").each( function(){
            // get start and finish IDs
            start = parseInt($("td.activity_start", this).attr("name"));
            finish = parseInt($("td.activity_end", this).attr("name"));

            // change color for activity start block
            tooltip_text = getTimeFromId(start) + ' - ' + getTimeFromId(finish) + ' ' +$("td.activity_description", this).html();
            while (start < finish)
            {
                // change color of filled interval
                $("#"+start).css("background-color", "green");

                // chage tool tip text
                $("#"+start).attr("data-original-title", tooltip_text) ;

                start++;
            }
        });
    }

    function getTimeFromId( min ){
        //min = $(this).attr("id");
        if( min >= 60) {
            time = (
                    Math.floor(min/60)<10
                            ? '0'+Math.floor(min/60)
                            : Math.floor(min/60)
                    )
                    + ':'
                    + (
                    min%60 == 0
                            ? '00'
                            : min%60
                    );
        }else{
            time = '00:' + (
                    min==0
                            ? '00'
                            : min
                    );
        }

        return time
    }

</script>
