<% unless @works.empty? %>
    <table class="table table-striped">
      <thead>
      <tr>
        <th width="5%">From</th>
        <th width="5%">To</th>
        <th width="8%">Duration</th>
        <th width="42%">Description</th>
        <th width="12%">Category</th>
        <th width="5%"></th>
        <th width="5%"></th>
        <th width="8%"></th>
      </tr>
      </thead>
      <%= render @works %>
    </table>
<% end %>
