<%= render 'shared/timeline' %>

<%= form_for(@work, :html => { :class => "well"}) do |f| %>
    <fieldset>

      <legend>Please update activity information</legend>

      <%= render 'fields_edit', :f => f %>

      <div class="form-actions">
        <%= f.submit "Update", :class => "btn btn-primary" %>
      </div>

    </fieldset>
<% end %>