<%= form_for(@user, :html => { :class => "well"}) do |f| %>
    <fieldset>

        <legend>Please update profile information</legend>

        <%= render 'fields', :f => f %>

        <div class="form-actions">
          <%= f.submit "Update", :class => "btn btn-primary" %>
        </div>

    </fieldset>
<% end %>
