<%= form_for(@user, :html => { :class => "well"}) do |f| %>
    <fieldset>

      <legend>Please fill in registration form</legend>

      <%= render 'fields', :f => f %>

      <div class="form-actions">
        <%= f.submit "Sign up", :class => "btn btn-primary" %>
      </div>

    </fieldset>
<% end %>
