<div class="margin10">

    <div>Things that was done today</div>
    <% unless @user.works.empty? %>
        <table class="works" summary="User works">
          <%= render @works %>
        </table>
    <% end %>

    <br>

    <%= form_for(@work) do |f| %>
        <%= render 'works/fields', :f => f %>
        <div class="actions">
          <%= f.submit "Add" %>
        </div>
    <% end %>

</div>