<div class="alert alert-info" style="padding-left: 5px; padding-right: 5px;">
  <table width="100%" border=0>
    <tr>
      <% 24.times do |i| %>
			<td align="center" colspan="6"> <%= (i<10 ? "0#{i}":"#{i}") %> </td>
      <% end %>
    </tr>
    <tr height="10px;">
      <%
	  144.times do |i|
      %>
        <td style="background-color: white;<%= (i+1)%6 == 0 ? "border-right-style: solid;border-right-width: 1px;" : ""%>" class="timeline_minutes" id="<%= i*10%>" data-original-title="<%= get_tooltip_text(i*10) %>"></td>
      <% end %>
    </tr>
  </table>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        // show tooltip with time
        $(".timeline_minutes").tooltip({animation:false, placement:'bottom'});
     });
</script>