<div class="margin10">

  <div>Your category list</div>

  <% unless @user.categories.empty? %>
      <table class="categories" summary="User's categories">
        <%= render @categories %>
      </table>
  <% end %>

  <br>

  <%= form_for(@category) do |f| %>
      <%= render 'fields', :f => f %>
      <div class="actions">
        <%= f.submit "Add" %>
      </div>
  <% end %>

</div>

