<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="#">Time tracker</a>
      <div class="nav-collapse">
        <ul class="nav">
          <% if signed_in? %>
              <li class="active"><%= link_to "Home", user_path(current_user) %></li>
          <% else %>
              <li class="active"><%= link_to "Home", root_path %></li>
          <% end %>
          <li><a href="#about">About</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
        <ul class="nav pull-right">
            <% if signed_in? %>
                <!--<p class="navbar-text pull-right">Logged in as <a href="#">username</a></p>-->
                <li><%= link_to "Sign out", logout_path, :method => :delete %></li>
            <% else %>
                <li><%= link_to "Sign in", login_path %></li>
            <% end %>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div> <!-- /navbar -->